window {
	background-color: white;
}

.topPanel {
	image: url('images/top_bar1.png');
	left: 0px;
	top: 0px;
	width: 240px;
	height: 30px;
}

.body {
	left: 0px;
	top: 50px;
	width: 240px;
	height: 200px;
}

.titlePanel {
	image: url('images/header_bg.png');
	left: 0px;
	top: 30px;
	width: 240px;
	height: 18px;
}

.titleText {
	font-weight: bold;
	font-size: 10px;
	left: 0px;
	top: 3px;
	width: 240px;
	height: 14px;
	text-align: center;
}

.titleText2 {
	font-weight: bold;
	font-size: 10px;
	left: 0px;
	top: 3px;
	width: 180px;
	height: 14px;
	text-align: left;
}

.titleCount {
	font-weight: bold;
	font-size: 10px;
	left: 180px;
	top: 3px;
	width: 50px;
	height: 14px;
	text-align: right;
}

.clock {
	left: 120px;
	top: 10px;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: black;
}

.wlanIcon {
	left: 190px;
	top: 10px;
	width: 19px;
	height: 11px;
}

.batteryIcon {
	list-style-image: url('images/battery.png');
	left: 215px;
	top: 11px;
	width: 21px;
	height: 10px;
}

.checkMark {
	src: url('images/white.gif;images/checkmark.gif;images/cross.png');
	left: 54px;
	top: 7px;
	width: 16px;
	height: 16px;
}

.txIcon {
	src: url('images/tx000.png;images/tx020.png;images/tx040.png;images/tx060.png;images/tx080.png;images/tx100.png');
	left: 25px;
	top: 50px;
	width: 75px;
	height: 75px;
}

.bottomPanel {
	image: url('images/bottom_bg.gif');
	left: 0px;
	top: 210px;
	width: 240px;
	height: 30px;
}

.backButton {
	image: url('images/btn_back_up.gif;images/btn_back_down.gif');
	left: 1px;
	top: 3px;
	width: 22px;
	height: 24px;
}

.leftButton {
	image: url('images/bottom_btn_up.gif;images/bottom_btn_down.gif');
	left: 10px; /* 27 */
	top: 3px;
	width: 85px;
	height: 24px;
	color: white;
	font-family: Arial;
	font-size: 12;
	font-weight: bold;
	text_align: center;
}

.rightButton {
	image: url('images/bottom_btn_up.gif;images/bottom_btn_down.gif');
	left: 145px; /* 125 */
	top: 3px;
	width: 85px;
	height: 24px;
	color: white;
	font-family: Arial;
	font-size: 12;
	font-weight: bold;
	text_align: center;
}

.keyBoardButton {
	image: url('images/kb.30.23.gif');
	left: 105px;
	top: 4px;
	width: 30px;
	height: 23px;
}

.nextButton {
	image: url('images/btn_next_up.gif;images/btn_next_down.gif');
	left: 217px;
	top: 4px;
	width: 22px;
	height: 42px;
}

.syncButton {
	image: url('images/bottom_btn_up.gif;images/bottom_btn_down.gif');
	left: 125px;
	top: 4px;
	width: 85px;
	height: 42px;
	color: red;
	font-family: Arial;
	font-size: 12;
	font-weight: bold;
	text_align: center;
}

.radioButtons {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}

.nextButton2 {
	image: url('images/button_run_bg.jpg');
	height: 19px; 
	color: black;
	font-family: Arial;
	font-size: 12;
	font-weight: bold;
	text_align: center;
}

.testButton2 { /* right empty space in bottom Panel */
	image: url('images/bottom_bg.gif;images/bottom_bg.gif');
	left: 235px;
	top: 4px;
	width: 5px;
	height: 42px;
}

.text6 {
	font-family: Arial;
	font-weight: normal;
	font-size: 6px;
}

.text9 {
	font-family: Arial;
	font-weight: normal;
	font-size: 9px;
}

.text10 {
	font-family: Arial;
	font-weight: normal;
	font-size: 10px;
}

.text10b {
	font-family: Arial;
	font-weight: bold;
	font-size: 10px;
}

.text11 {
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
}

.text11b {
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
}

.text12 {
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
}

.text12b {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}

.text14 {
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
}

.text14b {
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
}

.text16 {
	font-family: Arial;
	font-weight: normal;
	font-size: 16px;
}

.text16b {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
}

.text16bred {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: red;
}

.text16bgreen {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #00CC33;
}

.text20b {
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
}

.text20bc {
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.text60 {
	font-family: Arial;
	font-weight: normal;
	font-size: 60px;
}

.textInfo {
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: red;
}

.textCountGreen {
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	color: #00CC33;
}

.textCountRed {
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	color: red;
}

.menuBtn {
	image: url('images/menu_btn_up.gif;images/menu_btn_down.gif');
	left: 25px;
	top: 70px;
	width: 190px;
	height: 32px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	text_align: left;
}

.readIcon {
	src: url('images/rfid.gif');
	left: 5px;
	top: 3px;
	width: 24px;
	height: 24px;
}

.settingsIcon {
	src: url('images/white.gif;images/rfid.gif');
	width: 24px;
	height: 24px;
}

.confirmIcon {
	src: url('images/OK.png');
	width: 128px;
	height: 128px;
}


.bodyPanel {
	left: 0px;
	top: 48px;
	width: 240px;
	height: 142px;
}

.bodyLeft {
	left: 10px;
	top: 0px;
	width: 90px;
	height: 20px;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
}

.bodyRight {
	left: 120px;
	top: 0px;
	width: 120px;
	height: 20px;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
}

.tablePanel {
	left: 1px;
	top: 50px;
	width: 239px;
	height: 179px;
	highlight_color: #FFCC66;
	background-color: #FFFFFF;
}

.tablePanel2 {
	left: 0px;
	top: 20px;
	width: 240px;
	height: 142px;
	highlight_color: #FFCC66;
	background-color: #FFFFFF;
}

.tablePanelAlt {
	background-color: #EEEEEE;
}

.tableHeader {
	src: url('images/heading.gif');
    font_family: Arial;
    font_weight: bold;
    font_size: 12px;
}

.tableRow {
	font_family: Arial;
	font_weight: bold;
	font_size: 16px;
}

.tableRow2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}