window {
    background-color: white;
}
.tableFormat {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.topPanel {
    image: url('images/top_bar_bg.png');
    left: 5px;
    top: 0px;
    width: 240px;
    height: 30px;
    background-color: white;
}
.body {
    left: 0px;
    top: 50px;
    width: 240px;
    height: 195px;
    background-color: #455585;
}
.titlePanel {
    left: 0px;
    top: 33px;
    width: 240px;
    height: 2px;
    background-color: #455585;
}
.titleText {
    left: 0px;
    top: 3px;
    width: 240px;
    height: 2px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #455585;
    text-align: center;
    background-color: #455585;
}
.clock {
    left: 145px;
    top: 10px;
    width: 30px;
    height: 12px;
    font-family: Arial;
    font-weight: normal;
    font-size: 10px;
    color: black;
    background-color: white;
}
.wlanIcon {
    left: 185px;
    top: 10px;
    width: 19px;
    height: 11px;
    background-color: white;
}
.batteryIcon {
    list-style-image: url('images/battery.png');
    left: 210px;
    top: 11px;
    width: 21px;
    height: 10px;
    background-color: white;
}
.bottomPanel {
    left: 0px;
    top: 270px;
    width: 240px;
    height: 50px;
    background-color: #455585;
}
.backButton {
    image: url('images/btn_back_down.png;images/btn_back_down.png');
    left: 1px;
    top: 4px;
    width: 22px;
    height: 36px;
}
.nextButton {
    image: url('images/btn_next_up.png;images/btn_next_down.png');
    left: 217px;
    top: 4px;
    width: 22px;
    height: 36px;
}
.leftButton {
    left: 27px;
    top: 6px;
    width: 55px;
    height: 35px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: white;
}
.rightButton {
    left: 170px;
    top: 6px;
    width: 55px;
    height: 35px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: white;
}
.centerButton {
    left: 99px;
    top: 6px;
    width: 55px;
    height: 35px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: white;
}
.leftButtonLocation {
    left: 40px;
    top: 6px;
    width: 65px;
    height: 35px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: white;
}
.rightButtonLocation {
    left: 140px;
    top: 6px;
    width: 65px;
    height: 35px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: white;
}
.text12b {
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: black;
    background-color: white;
}
.textInfo {
    left: 5px;
    top: 245px;
    width: 235px;
    height: 20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    background-color: white;
}
.bodyPanel {
    left: 0px;
    top: 35px;
    width: 240px;
    height: 220px;
    background-color: white;
}
.promptUser {
    left: 0px;
    top: 35px;
    width: 240px;
    height: 220px;
    background-color: yellow;
}
.currentArea {
	left: 5px;
	top: 40px;
	width: 40px;
	height: 20px;
	font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 10px;
    color: black;
	text-align: right;
	background-color: white;
}
.currentAreaId {
	left: 50px;
	top: 40px;
	width: 100px;
	font-family: Trebuchet MS;
    font-size: 10px;
    color: black;
	height: 20px;
	background-color: white;
}
.bodyLeft {
    left: 60px;
    top: 0px;
    width: 60px;
    height: 20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: right;
    background-color: white;
}
.bodyRight {
    left: 125px;
    top: 0px;
    width: 30px;
    height: 20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: black;
    background-color: white;
}
.viewTagsBtn {
	left: 90px;
    top: 155px;
    width: 65px;
    height: 20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 10px;
    color: black;
    text-align: center;
    border-size:5px;
    background-color: #CACCCD;
}
.decreaseButton {
    image: url('images/btn_pwr_down.png;images/btn_pwr_down.png');
    left: 120px;
    top: 200px;
    width: 27px;
    height: 15px;
}

.increaseButton {
    image: url('images/btn_pwr_up.png;images/btn_pwr_up.png');
    left: 155px;
    top: 200px;
    width: 27px;
    height: 15px;
}
.bodyReading {
    left: 145px;
    top: 0px;
    width: 100px;
    height: 20px;
    font-family: Trebuchet MS;
    font-size: 11px;
    color: black;
    background-color: white;
}
.epcTable {
    top: 50px;
    width: 275px;
    height: 200px;
    background-color: #C0C0C0;
    left: 0;
}
.epcValuesTable {
    left: 20px;
    top: 10px;
    width: 250px;
    vertical-align: top;
    height: 175px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: black;
    text-align: right;
    background-color: white;
    overflow: scroll;
}
.epcListItems {
    left: 10px; 
    top: 10px; 
    width: 220px; 
    height: 175px;    
}

.listRow {
    background-color: red;
}

.bodyRight2 {
    left: 75px;
    top: 0px;
    width: 165px;
    height: 20px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: black;
    background-color: blue;
}
